{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <center>
      <img src="https://i.imgur.com/TepFCSm.jpg" class="img-responsive"></img><br>
    </center>
  </div>
</div>
<div class="container">
  <center>
  <p>Yut (pronounced yoot) is a traditional Korean board game which plays similar to "Sorry!"</p>
  <a href="https://play.google.com/store/apps/details?id=com.jeffreychan.yunnori">Available on the Google Play Store!</a>
  <br><br>
  <a href="/privacy">View our privacy policy here</a>
  </center>
</div>
{% endblock %}
