{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


<h2>Privacy policy</h2>

<p>Yut only requires the 'View network connections' and 'Full network access' permissions 
for connecting to Google Play Game Services to play in the Yut Online mode, to access the Achievements system, and to display ads. The network is never used otherwise.</p>

<p>Signing into Google Play Game Services is not required to play the game offline.</p>




</div>

{% endblock %}
